<mat-form-field appearance="fill">
    <mat-label>ID</mat-label>
    <input matInput placeholder="ID" [(ngModel)]="id" type="text" name="id" required>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="firstName" [(ngModel)]="firstName" type="text" name="firstName" required>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="lastName" [(ngModel)]="lastName" type="text" name="lastName" required>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>email</mat-label>
    <input matInput placeholder="email" [(ngModel)]="email" type="text" name="email" required>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="Password" required>
</mat-form-field>
<button mat-raised-button type="submit" (click)="onSubmit()">submit</button>