<div>
  <mat-tab-group #tabGroup mat-align-tabs="center" backgroundColor="primary">
    <mat-tab label="Task"> User information from service</mat-tab>
    <div class="container text-center">
      <table mat-table [dataSource]="dataSourceTask" #mytable class="my-table mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="prodjectId">
          <th mat-header-cell *matHeaderCellDef> Project ID </th>
          <td mat-cell *matCellDef="let element"> {{element.prodjectId}} </td>
        </ng-container>

        <ng-container matColumnDef="detail">
          <th mat-header-cell *matHeaderCellDef>Details</th>
          <td mat-cell *matCellDef="let element"> {{element.detail}} </td>
        </ng-container>

        <ng-container matColumnDef="createdOn">
          <th mat-header-cell *matHeaderCellDef> Created On </th>
          <td mat-cell *matCellDef="let element"> {{element.createdOn}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>
        <ng-container matColumnDef="assignedTo">
          <th mat-header-cell *matHeaderCellDef> Assigned To </th>
          <td mat-cell *matCellDef="let element"> {{element.assignedTo}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsTask"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsTask;"></tr>
      </table>
    </div>
    <mat-tab label="Project"> project information from service </mat-tab>
    <div class="container text-center">
      <table mat-table [dataSource]="dataSourceProject" #mytable class="my-table mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef> Details </th>
          <td mat-cell *matCellDef="let element"> {{element.details}} </td>
        </ng-container>

        <ng-container matColumnDef="createdOn">
          <th mat-header-cell *matHeaderCellDef> createdOn </th>
          <td mat-cell *matCellDef="let element"> {{element.createdOn}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsProject"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsProject;"></tr>
      </table>
    </div>
    <mat-tab label="User">
      <div class="container text-center">
        <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef> First Name </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
          </ng-container>

          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef> Last Name </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-tab>
  </mat-tab-group>
  <button mat-raised-button>Add </button>
  <button mat-raised-button> Remove </button>
  <button mat-raised-button> Update </button>
</div>